body {
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.navbar {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}
 
.navbar h2 {
    color: #ff0000;
}
 
.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    color: #ffffff;
}

button {
    border: #0b0b0b;
    border-radius: 6px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 12px 25px;
    cursor: pointer;
}

.sec {
    min-height: 600px;
    display: flex;
    align-items: center;
    padding: 0 70px;
    gap: 60px;
}

#pv {
    display: flex;
    text-align: center;
    color: red;
    font-size: 18px;
}

.sec img {
    width: 45%;
    height: auto;
    border-radius: 6px;
}

.sec-text h1 {
    font-size: 50px;
    margin: 15px 0;
}

.sec-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

#sec-p {
    color: red;
}

.about {
    padding: 80px 70px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.about-text {
    width: 50%;
}

.about-text h3 {
    font-size: 40px;
    margin: 20px 0;
}

#pv {
    font-size: 60px;
    color: red;
}

.training {
    padding: 80px 70px;
}

.training h2 {
    font-size: 40px;
    margin: 20px 35px;
}

.training-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.heads {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.training-card {
    background-color: #171717;
    padding: 35px;
    border: 1px solid #333;
}

.training-card h3 {
    display: flex;
    text-align: center;
    margin: 20px 0;
    color: #ff0000;
    font-size: 25px;
}

.motivation {
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.motivation-text p {
    margin-bottom: 25px;
    font-size: 18px;
}

footer {
    padding: 50px;
    text-align: center;
}

footer h2 {
    color: #ff0000;
}

/* tornike kutkhashvili */