body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: hsl(225, 100%, 98%);
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.main {
  width: 450px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(13, 19, 94, 0.15);
}

.image img {
  width: 100%;
  display: block;
  border-radius: 20px, 20px, 0px, 0px;
}

.content {
  padding: 32px 48px;
  text-align: center;
}

.content h1 {
  color: hsl(223, 47%, 23%);
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 16px;
}

.content > p {
  color: hsl(224, 23%, 55%);
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.plan div {
  text-align: left;
  margin-right: auto;
  margin-left: 20px;
}

.plan h3 {
  color: hsl(223, 47%, 23%);
  font-size: 16px;
  font-weight: 900;
}

.plan p {
  color: hsl(224, 23%, 55%);
  font-size: 15px;
}

.plan a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 14px;
}

button {
  width: 100%;
  background-color: hsl(245, 75%, 52%);
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 15px 20px rgba(56, 41, 224, 0.2);
  margin-bottom: 20px;
}

.cancel {
  display: inline-block;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  font-size: 15px;
  text-decoration: none;}

.cancel:hover {
  color: hsl(223, 47%, 23%);
}