body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 150px 150px;
    width: 100%;
    max-width: 500px;
    grid-template-areas: 
    'header header header header'
    'main main empty sidebar'
    'footer footer footer footer';
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.item-1{
    background-color: orange;
    grid-area: header;
}

.item-2{
    background-color: skyblue;
    grid-area: main;
}

.item-3{
    background-color: rgb(236, 231, 231);
    grid-area: empty;
}

.item-4{
    background-color: rgb(169, 18, 18);
    grid-area: sidebar;
}

.item-5{
    background-color: green;
    grid-area: footer;
}