@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Oswald:wght@200..700&display=swap');


p.oswald-uniquifier {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
p:hover {
            color: blue;
            font-family: 'Roboto', sans-serif;
        }