/* 1)შექმენით ფორმა სადაც ყველა ტიპის ინფუთს სხვადასხვა დიზაინის ბორდერი ექნება, ფორმაში უნდა იყოს მინიმუმ: სახელის,გვარის,ასაკის,მეილის,ტელეფონის ნომრისა და პაროლის ინფუთები */

input[type="text"]{
    border: 2px solid red;
}

input[type="number"]{
    border: 2px dashed blue;
}

input[type="email"]{
    border: 3px dotted green;
}

input[type="tel"]{
    border: 3px double purple;
}

input[type="password"]{
    border: 4px groove orange;
}